# -------------------------
# Dependencies
# -------------------------
/vendor

# -------------------------
# Environment
# -------------------------
.env
.env.*
.env.backup

# -------------------------
# Ignore FULL public folder
# -------------------------
/public

# -------------------------
# Storage & cache
# -------------------------
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# -------------------------
# Bootstrap cache
# -------------------------
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / OS
# -------------------------
/.idea
/.vscode
.DS_Store
Thumbs.db
