
h1,h5,h3{
    padding:0 !important;
    margin:0 !important;
  }
  .text-light{
    color: #fff !important;
    font-weight: normal !important;
  }
  body{
    overflow-x: hidden;
  }
  .testimonial-slider {
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

}.img-container {

    height: auto; /* Container height adjusts based on content */
    margin-bottom: 30px;
}

.img-container img {
    object-fit: cover;
    width: 100%; /* Ensure the image takes full width */
    max-height: 600px; /* Adjust as needed */
    border-radius: 15px; /* For more rounded effect */
}
.overlay-title {
    font-size: 1.8rem;
    color: #2E5A94;
}
.overlay-text {


    background: rgba(255, 255, 255); /* Light semi-transparent background */
    color: rgba(0, 0, 0, 0.7);


    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure overlay text is on top */
}
.siteblue{
    color:#2E5A94;
}
.testimonial-item {
    text-align: center;
    padding: 30px;
}

.testimonial-img {
    border-radius: 50%; /* Circular profile picture */
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    margin-bottom: 20px; /* Spacing below the image */
}

.testimonial-text {
    font-size: 1.2rem;
    color: #6c757d;
}

.testimonial-item h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    color: #0056b3;
    /* background-color: #007bff; */
    border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    /* background-color: #0056b3; */
}

.testimonial-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}

  .hero-img {
    background-image: url("/img/home-hero.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 100vh;
    position: relative;
  }

  .hero-img-2{
    background-image: url("/img/service-page-1.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 50vh;
    position: relative;
  }
  .hero-img-3{
    background-image: url("/img/service-page-2.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 50vh;
    position: relative;
  }
  .hero-img-4{
    background-image: url("/img/service-page-3.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 50vh;
    position: relative;
  }
  .bg{
    background: #042550 !important;
    padding-top: .5rem;
    position: absolute;
    z-index: 1 !important;
    color: #fff !important;
    width: 100vw !important;

  }
  .offcanvas-backdrop{
    width: 100% !important;
  }
  .navbar-brand{
    font-size: 22px;
  }
  .navbar-nav{
    padding: 0 1rem 0 1rem;
  }
  .content{
    height: 100vh;
    color: #fff;
    justify-content: left !important;
    align-items: center !important;
  }
  .content-2{
    height:60vh;
    color:#174684;
    justify-content: center !important;
    align-items: center !important;
  }
  .dropdown-menu{
    background: #FFFFFF;
  box-shadow: -1px 14px 28px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  }

   .navbar-toggler{
    color: none !important;
    border: none !important;
    background-color: none !important;
    box-shadow: none !important;
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("/img/toggle-icon.png");

  }
  .navbar-toggler-icon{
     width: 20px !important;
    height: 20px !important;
  }
  .about-text{
    position: relative;
  }
  .why-us{
   transform: translateX(-100px);
    background: #FDFDFD;
    box-shadow: 13px 4px 54px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  .card-img{
    transform: translateX(100px);
  }

  .card{
    border: none !important;
  }

  .services{
    background-color: #F6FAFF;
  }
  .color-blue{
    color: #2E5A94;
  }
  a{
    text-decoration: none;
    color: #174684;
  }
  .service-wrapper{
    padding: 0 3rem 0 3rem;
    margin: 0 3rem 0 3rem;
  }
  .left-right{
    padding: 0 2rem 0 2rem;
    margin: 0 2rem 0 2rem;
  }
  /* .main-serve */
  .main-serve{
    background: linear-gradient(#174684, transparent 90%),
    #174684 url('/img/hero-glass-office.jpg') no-repeat center;
    background-size: cover;
  }

  .card-serve{
  background: #FFFFFF;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  }
  .icon-card{
  background-color: #305b9349;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.12);
  }
  .icon-card-2{
  background-color: #ffffff;
  border-radius: 100%;
  }
  .service-head h1::after{
    content: url(/img/lines.png);

  }
  .left-margin{
    margin-left: 15px !important;
  }
  .contact-footer{
    background: linear-gradient(#174684, transparent 90%),
    #174684 url('/img/contactfooter.png') no-repeat center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-footer-2{
    background: linear-gradient(#174684, transparent 90%),
    #174684 url('/img/footer-2.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width:1000px){
    .hero-img {
    background-image: url("/img/home-hero.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 70vh;
    position: relative;
  }
  .content{
    height: 70vh;
    color: #fff;
    justify-content: left !important;
    align-items: center !important;
  }
    .toggle-2{
      display: none;
    }
    .navbar-nav{
    padding: 0;
  }
    .mx-5{
      margin: none !important;
    }
    .bg{
    background: #2E5A94 !important;
    position: absolute;
    padding-top: 10px;
    z-index: 2 !important;
    color: #fff !important;
    width: 100% !important;
  }
  /* .about-text{
    position: relative;
    height: 30vh;
  } */
  .why-us{
   transform: translateX(0px);
   /* transform: translateY(50%); */
   position: relative !important;
    background: #FDFDFD;
    box-shadow: 13px 4px 54px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    overflow: hidden;
  }
  .card-img{
    transform: translateX(0px);
  }
  /* .card-img img{
     width: 100%;
     height: 400px;
  } */
  .section-2{
    display: flex !important;
    flex-direction: column-reverse;

  }
  .serve-2{
    display: flex;
    flex-direction: column-reverse;
  }

  }

  @media(max-width:576px){
    .service-wrapper{
    padding: 0 ;
    margin: 0 ;
    }
   .img-fluid-res
   {
    max-width: 100%;
   }
  }
