/* Publication */
.publication-card{
    background-image: url("/img/contact.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 68%;
    position: relative;
  }

  /* About Us */
  .about-banner{
    background-image: url("/img/about-banner.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 60vh;
    position: relative;
  }
  .pricing{
      background-image: url("/img/about-banner.png");
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      width: auto;
      height: 60vh;
      position: relative;
  }
  .team-container{
      background-color: #174684;
  }

  /* Contact Us Us */
  .contact-card{
    background-image: url("/img/contact.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 48%;
    position: relative;
  }
  .contact-form{
      background-color: #fff;
      filter: drop-shadow(0px 4px 29px rgba(0, 0, 0, 0.08));

  }
  .log-in{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .case-details-head-2{
    background-image: url("/img/case-details-head-2.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;


  }
  .case-details-wrapper{
    position: relative;
  }
  .case-details{
    transform: translateY(20px);

  }

  .case-details-2{
    background-image: url("/img/case-details-2.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 3rem !important;

  }

  @media (max-width:960px){
      .border-pub {
          border:  none;
      }
      .contact-card{
    background-image: url("/img/contact.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 80vh;
    position: relative;
  }

  /* Publication */
  .publication-card{
    background-image: url("/img/contact.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    position: relative;
  }

  .case-details{
    transform: translateY(-50px) !important;

  }
  .main-case{
    padding: 1rem !important;
  }
  }
  /* Careers */

  .careers-banner{
    background-image: url("/img/careers.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: auto;
    height: 60vh;
    position: relative;
  }

  .career-card{
      background-color: #fff;
      border-left: 5px solid #174684;
      filter: drop-shadow(0px 4px 29px rgba(0, 0, 0, 0.08));
  }
